# DataSteroid

### Basic Syntax

In [1]:
print("this is DataSteroid")

this is DataSteroid

### Variable

In [8]:
sugar = "Chini"

print(sugar)

Chini

### Comments

In [10]:
#This is a comment
#fd sfsda
#dnjksadjsn

"""
sndkjndkjnsjkdnjkdnwjk
"""
print("Suzal")

Suzal

### Indentation

In [ ]:
age = 19
if (age > 18):
    print("You are elgible to vote")

You are elgible to vote

### Keywords

In [21]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### Identifier

In [22]:
_123kwkdmw = "Chini"

print(_123kwkdmw)

Chini

### Basic I/o

In [ ]:
tree = "Chandan"
print("Tree Name is:" ,tree)


name = input("Enter Your Name :")
print("Your Name :", name)

Your Name : dmkefd

## Data Types

### Numbers

In [1]:
#int
a = 2

#float
b = 2.4

#Complex Number
c = 2 + 6j

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

### Boolean

In [64]:
# True and False
a = False
b = not(a)
print(type(b))
print(b)

# print(4>8)

<class 'bool'>
True

### String

In [65]:
a = "Hammer"

# print(type(a))

# print(a[4])
# print(a[:4])

# print(a.upper())
# print(a.lower())

a = a.replace("Hammer", "Nails")

print(type(a))

<class 'str'>

### NoneType

In [24]:
a = None

print(type(a))

<class 'NoneType'>

### Type Conversion

In [39]:
#Implicit
a = 5
b = 3.1
c = a + b

# print(type(c))


#Explicit

d = "23"
r = 12

e = int(d)
f = bool(d)
g = float(d)

# print(type(g))

print(e + r)

35

## Operators

In [92]:
#Arithmetic 

a = 4
b = 10

# print(b//a)

#Assignemnt

a = 3
a **= 2


#Comparison

a = 10 != 5
# print(a)


#Logical 

a = True
b = False


#AND OR NOT

# print(not b == True)

#Identity Operator

d = 4
e = 9
f = 9

# print(f is not d)



# Membership Operator

a = ["Apple", "Orange", "Kiwi"]
b = "Apple"

print(b not in a)

False

## Data Structures

In [51]:
#List

# list1 = [21, 32, 56, "List"]

# print(type(list1))
# print(list1[0:])

# list1[3] = "Array"


# list1.append("Maths")
# list1.insert(2, "Python")
# list1.pop()

# del list1[2]

# list1.clear()

# list1.remove(21)
# print(len(list1))




#Tuple

tup1 = (23, "Lock", 32, "Oly", 33)
tup2 = (15, "Ashes")

# print(len(tup1))

# print(tup1[2])

# tup1.pop()

tup3 = tup1 + tup2
print(tup3)

(23, 'Lock', 32, 'Oly', 33, 15, 'Ashes')

### Set

In [48]:
# set1 = {"hii", 4.5}

# # print(type(set1))

# set1.add('Bye')

# set1.update(["abc", "bcd", "efg"])

# set1.remove("nest")

# set1.discard("nest")

# set1.clear()

# x = set1.pop()
# print(x)

# print(set1)


set1 = {1,2,3}
set2 = {3,4,1}

# print(set1.union(set2))
# print(set1.intersection(set2))
print(set2.difference(set1))

{4}

### Dictionary

In [42]:
dict1 = {
    "Brand": "Skoda",
    "Model": "Slavia",
    "Year": 2025
}

dict1["Year"] = 2024

dict1["Competitor"] = "Virtus"

# dict1.pop("Model")

# dict1.popitem()

# del dict1["Competitor"]

# dict1.clear()



print(len(dict1))

4

### Conditional Statements

In [57]:
age = int(input("Enter your Age:"))

if age < 18:
    print("kid")
elif age == 18:
    print("Just got Adult")
else:
    print("Adult")

Just got Adult

### Loop

In [92]:
#for Loop
loop1 = [1, 2, 3, 4, 5]

# for i in loop1:
#     print(i * 69)


#While

# count = 0

# while count < 3:
#     print("I am Evil")


# range1 = range(10)

# for i in range(20*3):
#     print(i)
    

for i in range(20):
    if i == 18:
        # break
        # continue
        pass
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

### Functions

In [ ]:
# def greet(name):
#     print(f"Hello {name}")

# greet("Kara")

# def add(a, b):
#     print(a + b)

# return1 = add(3, 7)
# print(return1)

# def welcome(name="User"):
#     print(name)

# welcome()
# welcome("Suzal")

# def bye(name, age):
#     print(f"Hello {name} my age is {age}")

# bye("Loki", 31)

def param(*num):
    print(sum(num))

param(20, 40, 21, 94 , 32)

def kwargs1 (**details):
    for key, values in details.items():
        print(key,":", values)

kwargs1(name="Google", values="Gemini")
kwargs1(name="OpenAI", values="ChatGPT")

name : Google
values : Gemini
name : OpenAI
values : ChatGPT

### Scopes

In [32]:
x = "Global"

def KuchBhi():
    y = "Local"
    print(y)
    print(x)


# print(y)
KuchBhi()

Local
Global

### Lambda

In [43]:
# def sqr(x):
#     return x*x

# sqr(3)

# sq = lambda x: x*x

# sq(9)


list1 = [1, 2, 3, 4]

# sqrts = list(map(lambda x: x*x, list1))

# print(sqrts)

even = list(filter(lambda x: x % 2 == 0, list1))
print(even)

[2, 4]

### Modules

In [55]:
# import math
# print(math.sqrt(9))

import add
print(add.plus(5, 3))

8

### Errors and Exceptions

In [21]:
# if age > 10
#     print("I am 10")

# a = 10/-3
# print(a)


#try except else finally

# try:
#     a = "ABC"

# except ValueError:
#     print("You can't Force String to behave like Integer")

# else:
#     print("NO Error Found")

# finally:
#     print("This will always run ")


age = -3
if age < 0:
    raise ValueError("Age can't be negative")
else:
    print("You are ok")

ValueError: Age can't be negative

### OOPs

In [26]:
class Car:
   def __init__(self):
    self.color = "red"
    self.tyres = 4

nexon = Car()

print(nexon.tyres)

4

### Date & Time

In [42]:
from datetime import datetime, date, time, timedelta

livedatatime = datetime.now()
# print(type(livedatatime))

# d = date(2025, 8, 1)
# t = time(15, 44, 4)
# print(d, t)

# strtime = livedatatime.strftime("%d %m %Y %H %M")
# print(type(strtime))


# dateComing = "04-12-2025"

# dt = datetime.strptime(dateComing, "%d-%m-%Y")
# print(dt)

yesterday = livedatatime - timedelta(days=1)
tomorrow = livedatatime + timedelta(days=10)

print(yesterday)
print(tomorrow)

2025-07-31 17:49:48.502376
2025-08-11 17:49:48.502376

### Comprehension

In [ ]:
# list1 = []
# for i in range(1, 8):
#     list1.append(i*i)

# # print(list1)

# list2 = [i*i for i in range(1,8)]

# print(list2)

# name1 = ["raman", "paras", "richa", "ishika"]

# upper_name = [i.upper() for i in name1]

# print(upper_name)

#Dictionary

sqrNum = {}
for i in range(1, 8):
    sqrNum[i] = i*i
print(sqrNum)


DictComp = {i: i*i for i in range(1,8)}
print(DictComp)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

## File I/O

In [3]:


file = open("intro.txt", "a")
file.write("This is the New Append Content")

file = open("intro.txt", "r")
print(file.readlines())



# file2 = open("basic.txt", "r+")
# file2.write("This is a basic file which will consist of the data that we will be required to study for the concept of data analysis")
# file2.close()

# file2 = open("basic.txt", "r")
# file2.seek(0)
# print(file2.read())



#CSV

# csvFile = open("Students.csv", "w")
# csvFile.write("Name, Marks\n")
# csvFile.write("Mandy, 76\n")
# csvFile.write("Oly, 80\n")


# csvFile = open("Students.csv", "r")
# print(csvFile.read())


#json
# import json

# f1 = open("settings.json", "r")
# print(json.load(f1))

["Welcome to DataSteroid. It's time to stop drowning in data and start using it. We provide cutting-edge tools to accelerate your analytics and unlock insights at unprecedented speed. Unleash the true power of your information.This is the New Append Content"]